.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-element {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.about-logo {
    width: 100px;
    margin-bottom: 25px;
}

.about-title {
    font-weight: bold;
}