@page "/fetchdata"
@inject CurrentPage CurrentPage

@using IFTools.Data
@using Newtonsoft.Json
@inject InfiniteFlightApi Api

<h1>@CurrentPage.CurrentPageName</h1>

@forecasts

<p>This component demonstrates fetching data from a service.</p>

@code {
    
    private string forecasts;

    protected override void OnInitialized()
    {
        CurrentPage.SetCurrentPageName("Weather forecast");
        base.OnInitialized();
    }
    
    protected override async Task OnInitializedAsync()
    {
        var flightEntries = await Api.GetSessionsAsync();
        forecasts = JsonConvert.SerializeObject(flightEntries);
    }

}
