@page "/"
@inject CurrentPage CurrentPage

<h1 class="mobile-page-title">@CurrentPage.CurrentPageName</h1>

<p class="welcome-text">
    Welcome to IF-Tools! <br/>
    Refer to the navigation menu for Infinite Flight Live tools.
</p>

@code {
    
    protected override void OnInitialized()
    {
        CurrentPage.SetCurrentPageName("Main");
        base.OnInitialized();
    }

}