.mobile-page-title {
    display: none;
    margin-bottom: 30px;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.section-left, .section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.section-left {
    width: 40%;
    min-width: 300px;
    border-right: 1px dashed lightgray;
}

.section-right {
    width: 60%;
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.data-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.data-input div {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.data-input select, .data-input input {
    width: 100%;
    height: 40px;
}

.data-input .btn {
    width: 100px;
    margin-top: 15px;
}

input, select {
    border-radius: 5px;
    border: 1px solid #adadad;
    padding: 0 5px;
}

select {
    background-color: #f4f3f3;
}

textarea {
    border: 1px solid #adadad;
    border-radius: 3px;
    padding: 5px;
}

.input-name {
    display: block;
    color: gray;
    font-size: 17px;
    margin-bottom: 5px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

tr.clickable {
    cursor: pointer;
}

tr.clickable:hover {
    background-color: rgba(0, 0, 0, .05);
}

.nothing-displayed {
    color: gray;
    font-size: 17px;
}

.info-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed lightgray;
    padding: 10px 0;
    width: 100%;
}

.info-item:first-of-type {
    padding-top: 0;
}

.info-item:last-of-type {
    border-bottom: none;
}

.info-title {
    margin-bottom: 5px;
    font-size: 15px;
    color: gray;
}

.info-value {
    font-size: 17px;
    word-wrap: break-word;
}

.more-info-text {
    display: block;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: gray;
}

@media (max-width: 900px) {
    .wrapper {
        flex-direction: column;
    }

    .section-left, .section-right {
        width: 100%;
    }
    
    .section-right {
        padding-top: 30px;
    }
    
    .section-left {
        border-right: 0;
        border-bottom: 1px dashed lightgray;
        padding-bottom: 30px;
    }
}

@media (max-width: 640.98px) {
    .mobile-page-title {
        display: block;
    }
    
    .wrapper {
        height: calc(100% - 70px);
    }
}