<div class="loader@(!IsShown ? " hidden" : "") @(AddLeftMargin ? "left-margin" : "") @(IsInline ? "inline" : "")" style="width: @DimensionsEm; height: @DimensionsEm"></div>

@code {
    [Parameter] 
    public bool IsShown { get; set; }

    [Parameter]
    public bool AddLeftMargin { get; set; }
    
    [Parameter]
    public bool IsInline { get; set; }
    
    [Parameter]
    public int DimensionsEm { get; set; } = 8;

}